body {
    font-family: Roboto;
}

.desktop {
    display: none;
}

.container {
    max-width: 1160px;
    margin: auto;
}

#toggle {
    display: none;
}

#toggle:checked~nav {
    top: 0;
}

.mobile {
    width: 100%;
    height: 100vh;
    background-color: #2F3132;
    /* transform: rotate(90deg); */
    transition: top .5s;
    position: absolute;
    top: -100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo__nav {
    position: absolute;
    top: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_m {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 23px;
    margin-right: 23px;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
}

.menu_m:hover {
    color: #FFFFFF;
    cursor: pointer;
    border-bottom: 1px solid white;
}

.open {
    color: white;
    position: absolute;
    top: 20px;
    right: 31px;
}

.open:hover {
    color: tan;
    cursor: pointer;
}

.close {
    color: white;
    position: absolute;
    top: 25px;
    right: 29px;
}

.heading {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 20px;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 0;
}

.text_margin {
    margin-left: 34px;
    margin-right: 34px;
}

.text_flow {
    margin-bottom: 23px;
    text-align: left;
    width: 222px;
}

.text_settings {
    color: #fff;
    margin-top: 5px;
    margin-right: 11px;
}

.header {
    display: flex;
    justify-content: center;
}

.top {
    background: #E0E1E2;
    padding-top: 25px;
    padding-bottom: 48px;
}

.top__text-margin {
    margin-left: 59px;
    margin-right: 59px;
}

.center-content {
    display: flex;
    justify-content: center;
}

.top__svg {
    width: 42px;
    height: 22px;
}

.top__img {
    margin-top: 94px;
    height: 256px;
    background-image: url(/img/MX-Master_1.png);
    background-size: contain;
    margin-bottom: 41px;
    background-repeat: no-repeat;
    background-position: center;
}

.top__arrow {
    margin-top: 40px;
}

.bluetooth {
    background: #EDEDED;
    padding-top: 42px;
    padding-bottom: 22px;
}

.bluetooth__icon {
    margin-bottom: 27px;
}

.bluetooth__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #C4C4C4;
    margin-top: 31px;
}

.bluetooth__img {
    height: 284px;
    background-image: url(/img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.info {
    padding-top: 70px;
    padding-bottom: 77px;
}

.info__item {
    border: 1px solid #2F3132;
    flex-basis: 166px;
    padding-left: 17px;
    padding-right: 17px;
    min-height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info__content {
    margin-top: 30px;
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.info__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
}

.info__text {
    margin-left: 67px;
    margin-right: 61px;
}

.info__item-heading {
    margin-bottom: 5px;
}

.carousel {
    margin-bottom: 100px;
}

.desktop_s {
    display: none;
}

.flow {
    padding-top: 70px;
    padding-bottom: 218px;
    background-image: url(/img/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
    background-color: #EDEDED;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.flow__ol {
    margin-top: 36px;
    padding-left: 54px;
}

.settings {
    padding-top: 70px;
    background-color: #EDEDED
}

.settings__slider {
    margin: 35px 22px 20px 23px;
    height: 670px;
}

.settings__img_desktop {
    display: none;
}

.settings__content {
    background: #C4C4C4;
    padding: 23px 22px 26px 29px;
}

.settings__icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mouse__text {
    padding-top: 70px;
    padding-bottom: 20px;
}

.mouse__img {
    height: 310px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.mouse__img_1 {
    background-image: url(/img/image\ 1.jpg);
}

.mouse__img_2 {
    background-image: url(/img/image\ 2.jpg);
}

.footer {
    background: #2F3132;
    height: 75px;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 8px;
    text-align: center;
    color: #C7C8C8;
    padding-top: 22px;
}

.footer_a {
    color: white;
    font-weight: 500;
    font-size: 8px;
    text-decoration: none;
    text-align: center;
}

.footer_a:hover {
    color: white;
    border-bottom: 1px solid white;
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 768px) {
    .desktop {
        display: none;
    }

    .top {
        padding-top: 54px;
        padding-bottom: 80px;
    }

    .header__logo {
        width: 240px;
    }

    .logo__nav_t {
        width: 240px;
    }

    .tablet {
        width: 100%;
        height: 100vh;
        background-color: #2F3132;
        /* transform: rotate(90deg); */
        transition: top .5s;
        position: absolute;
        top: -100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top__img {
        margin-top: 159px;
        height: 514px;
        margin-bottom: 124px;
    }

    .heading {
        font-size: 40px;
        line-height: 47px;
        margin-bottom: 30px;
    }

    .text {
        font-size: 24px;
        line-height: 28px;
    }

    .text_margin {
        margin-left: 77px;
        margin-right: 77px;
    }

    .top__text-margin {
        margin-left: 159px;
        margin-right: 159px;
    }

    .top__arrow {
        margin-top: 76px;
    }

    .top__svg {
        width: 61px;
        height: 33px;
    }

    .bluetooth {
        padding-top: 80px;
        padding-bottom: 3px;
    }

    .bluetooth__heading {
        font-size: 150px;
        line-height: 176px;
    }

    .bluetooth__img {
        height: 597px;
        margin-left: 39px;
        margin-right: 19px;
    }

    .info__content {
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 30px;
    }

    .info__item-heading {
        margin-bottom: 5px;
    }

    .info__item {
        min-height: 170px;
    }

    .info__heading {
        font-size: 24px;
        line-height: 28px;
    }

    .flow {
        padding-bottom: 498px;
        padding-left: 64px;
        padding-right: 65px;
    }

    .text_flow-p {
        margin-left: 0;
        margin-right: 0;
    }

    .flow__ol {
        display: flex;
        list-style-position: inside;
        padding-left: 0;
    }

    .text_flow {
        width: auto;
        padding: 8px 21px 4px 28px;
        border-left: 1px solid #494949;
        font-size: 20px;
        line-height: 23px;
    }

    .text_flow:first-child {
        border-left: none;
        padding-left: 0;
    }

    .text_flow:last-child {
        padding-right: 0;
    }

    .settings {
        padding-bottom: 70px;
    }

    .settings__slider {
        margin: 54px 198px 150px;
    }

    .settings__content {
        margin-left: 64px;
        margin-right: 65px;
    }

    .settings__icons {
        margin-right: 104px;
        margin-left: 98px;
    }

    .settings__img {
        height: 35px;
    }

    .heading_settings {
        margin-left: 64px;
        margin-right: 65px;
    }

    .text_settings-p {
        margin-left: 65px;
        margin-right: 65px;
    }

    .text_mouse {
        margin-left: 0;
        margin-right: 0;
    }

    .mouse__text {
        padding-left: 67px;
        padding-right: 64px;
        padding-bottom: 50px;
    }

    .mouse__img {
        height: 549px;
    }

    .mouse__img_1 {
        background-image: url(/img/High_Resolution_JPG-MX\ Master\ Lifestyle\ 2602\ SpaceGrey\ for\ MAC\ 2.jpg);
    }

    .mouse__img_2 {
        background-image: url(/img/image\ 2_big.jpg);
    }

    .footer {
        font-size: 14px;
        line-height: 16px;
        height: 150px;
        padding-top: 47px;
    }
}

@media (min-width: 1024px) {
    .mobile {
        display: none;
    }

    .desktop_s {
        display: block;
    }

    .open {
        display: none;
    }

    .center {
        padding-left: calc(50% - 580px);
        padding-right: calc(50% - 580px);
    }


    .logo__d {
        width: 150px;
        vertical-align: center;
        margin-right: 115px;
    }

    ul {
        list-style-type: none;
    }

    .desktop {
        flex-direction: row;
        width: 100%;
        height: 100px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #2F3132;
    }

    .menu_d_a {
        color: white;
        font-weight: 500;
        font-size: 12px;
        text-decoration: none;
        text-align: center;
    }

    .menu_d {
        padding-left: 5px;
        padding-right: 5px;
        border-left: 1px solid #494949;
    }

    .menu_d:nth-child(2) {
        border-left: none;
    }

    .menu_d_a:hover {
        color: white;
        border-bottom: 1px solid white;
        text-transform: capitalize;
        padding-left: 0;
        padding-right: 0;
    }

    .mobile {
        display: none;
    }

    .heading {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 35px;
    }

    .text {
        font-size: 20px;
        line-height: 23px;
    }

    .top__img {
        background: url(/img/MX-Master\ 1.png) no-repeat;
        margin-top: 20px;
        height: 671px;
        padding-top: 80px;
        margin-bottom: 8px;
    }

    .top {
        padding-top: 0;
        padding-bottom: 48px;
    }

    .top__arrow {
        margin-top: 49px;
    }

    .bluetooth__img.b_d {
        width: 1024px;
    }

    .bluetooth__img {
        height: 400px;
        background: url(/img/High_Resolution_PNG-MX\ Master\ 3\ FRONT\ GRAPHITE\ 1.png) no-repeat 0 109px, url(/img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1\ \(1\).png) no-repeat right 109px;
        margin-left: -25px;
        margin-right: -25px;
    }

    .center_bluetooth {
        padding-left: calc(50% - 622px);
        padding-right: calc(50% - 622px);
    }

    .bluetooth__heading {
        font-size: 96px;
        line-height: 112px;
        display: flex;
        justify-content: center;
    }

    .bluetooth__heading_day-mini {
        padding-left: 5px;
        font-size: 96px;
        line-height: 112px;
    }

    .bluetooth__heading_day {
        font-style: normal;
        font-weight: 900;
        font-size: 220px;
        line-height: 180px;
        margin-right: 0;
        margin-left: 190px;
    }

    .info {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .info__text {
        width: 765px;
        margin: auto;
    }

    .info__item {
        min-height: 140px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .info__item-heading {
        margin-bottom: 5px;
    }

    .info__slider {
        padding-right: calc(50% - 640px);
        padding-left: calc(50% - 640px);
    }

    .mobile_s {
        display: none;
    }

    .text_info {
        width: 765px;
        margin: auto;
    }

    .flow {
        padding-bottom: 570px;
        background-image: url(/img/High_Resolution_desktop.png);
        background-color: #EDEDED;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }

    .flow_center {
        padding-left: calc(50% - 479px);
        padding-right: calc(50% - 479px);
    }

    .flow__ol {
        margin-left: 15px;
    }

    .settings__slider {
        display: none;
    }

    .text_settings-p {
        width: 958px;
        margin: auto;
    }

    .settings__img_desktop {
        display: block;
        display: flex;
        justify-content: center;
        margin-top: 31px;
        background-image: url(/img/744aa55\ 1.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        height: 700px;
        width: 1000px;
    }

    .settings {
        padding-bottom: 100px;
    }

    .settings__content {
        width: 749px;
        margin: auto;
    }

    .mouse {
        display: flex;
        flex-wrap: wrap;
    }

    .mouse_center {
        padding-left: calc(50% - 655px);
        padding-right: calc(50% - 655px);
    }

    .mouse__item {
        height: 557px;
        width: 50%;
    }

    .mouse__text {
        padding-top: 113px;
    }

    .mouse__text_1 {
        padding-right: 217px;
        order: 2;
        padding-left: 20px;
    }

    .mouse__text_2 {
        padding-left: 217px;
        order: 3;
        padding-right: 20px;
    }

    .mouse__text_1 .heading {
        text-align: left;

    }

    .mouse__text_1 .text {
        text-align: left;
        width: 400px
    }

    .mouse__text_2 .heading {
        text-align: right;
    }

    .mouse__text_2 .text {
        text-align: right;
    }

    .mouse__img_1 {
        order: 1;
    }

    .mouse__img_2 {
        order: 4;
    }

}

@media (min-width: 1055px) {
    .mobile {
        display: none;
    }

    .desktop_s {
        display: block;
    }

    .open {
        display: none;
    }

    .center {
        padding-left: calc(50% - 580px);
        padding-right: calc(50% - 580px);
    }


    .logo__d {
        width: 150px;
        vertical-align: center;
        margin-right: 115px;
    }

    ul {
        list-style-type: none;
    }

    .desktop {
        flex-direction: row;
        width: 100%;
        height: 100px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #2F3132;
    }

    .menu_d_a {
        color: white;
        font-weight: 500;
        font-size: 12px;
        text-decoration: none;
        text-align: center;
    }

    .menu_d {
        padding-left: 5px;
        padding-right: 5px;
        border-left: 1px solid #494949;
    }

    .menu_d:nth-child(2) {
        border-left: none;
    }

    .menu_d_a:hover {
        color: white;
        border-bottom: 1px solid white;
        text-transform: capitalize;
        padding-left: 0;
        padding-right: 0;
    }

    .mobile {
        display: none;
    }

    .heading {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 35px;
    }

    .text {
        font-size: 20px;
        line-height: 23px;
    }

    .top__img {
        background: url(/img/MX-Master\ 1.png) no-repeat;
        margin-top: 20px;
        height: 671px;
        padding-top: 80px;
        margin-bottom: 8px;
    }

    .top {
        padding-top: 0;
        padding-bottom: 48px;
    }

    .top__arrow {
        margin-top: 49px;
    }

    .bluetooth__img.b_d {
        width: 1200px;
    }

    .bluetooth__img {
        height: 400px;
        background: url(/img/High_Resolution_PNG-MX\ Master\ 3\ FRONT\ GRAPHITE\ 1.png) no-repeat 0 109px, url(/img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1\ \(1\).png) no-repeat right 109px;
        margin-left: -25px;
        margin-right: -25px;
    }

    .center_bluetooth {
        padding-left: calc(50% - 622px);
        padding-right: calc(50% - 622px);
    }

    .bluetooth__heading {
        font-size: 96px;
        line-height: 112px;
        display: flex;
        justify-content: center;
    }

    .bluetooth__heading_day-mini {
        padding-left: 5px;
        font-size: 96px;
        line-height: 112px;
    }

    .bluetooth__heading_day {
        font-style: normal;
        font-weight: 900;
        font-size: 220px;
        line-height: 180px;
        margin-right: 0;
        margin-left: 190px;
    }

    .info {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .info__text {
        width: 765px;
        margin: auto;
    }

    .info__item {
        min-height: 140px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .info__item-heading {
        margin-bottom: 5px;
    }

    .info__slider {
        padding-right: calc(50% - 640px);
        padding-left: calc(50% - 640px);
    }

    .mobile_s {
        display: none;
    }

    .text_info {
        width: 765px;
        margin: auto;
    }

    .flow {
        padding-bottom: 570px;
        background-image: url(/img/High_Resolution_desktop.png);
        background-color: #EDEDED;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }

    .flow_center {
        padding-left: calc(50% - 479px);
        padding-right: calc(50% - 479px);
    }

    .flow__ol {
        margin-left: 15px;
    }

    .settings__slider {
        display: none;
    }

    .text_settings-p {
        width: 958px;
        margin: auto;
    }

    .settings__img_desktop {
        display: block;
        display: flex;
        justify-content: center;
        margin-top: 31px;
        background-image: url(/img/744aa55\ 1.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        height: 700px;
        width: 1000px;
    }

    .settings {
        padding-bottom: 100px;
    }

    .settings__content {
        width: 749px;
        margin: auto;
    }

    .mouse {
        display: flex;
        flex-wrap: wrap;
    }

    .mouse_center {
        padding-left: calc(50% - 655px);
        padding-right: calc(50% - 655px);
    }

    .mouse__item {
        height: 557px;
        width: 50%;
    }

    .mouse__text {
        padding-top: 113px;
    }

    .mouse__text_1 {
        padding-right: 217px;
        order: 2;
        padding-left: 20px;
    }

    .mouse__text_2 {
        padding-left: 217px;
        order: 3;
        padding-right: 20px;
    }

    .mouse__text_1 .heading {
        text-align: left;

    }

    .mouse__text_1 .text {
        text-align: left;
        width: 400px
    }

    .mouse__text_2 .heading {
        text-align: right;
    }

    .mouse__text_2 .text {
        text-align: right;
    }

    .mouse__img_1 {
        order: 1;
    }

    .mouse__img_2 {
        order: 4;
    }

}